@font-face {
    font-family: 'Roboto';
    src:
        /*local('Roboto'), local('Roboto-Regular'),*/
        url('fonts/roboto.woff') format('woff'),
        url('fonts/roboto.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: 
        /*local('Roboto Medium'), local('Roboto-Medium'),*/
        url('fonts/robotomedium.woff') format('woff'),
        url('fonts/robotomedium.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
/*
@font-face {
    font-family: 'Roboto';
    src:
        url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype')
        local('Roboto Bold'), local('Roboto-Bold'),
        url('fonts/robotobold.woff') format('woff'),
        url('fonts/robotobold.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.button {   
    font-weight: bold; 
    border: transparent;
    text-transform: uppercase; 
    background: #fb565a;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button:hover {
    background: #e74246;    
}
.button:active {
    background: #d7373b;    
    color: rgba(255, 255, 255, 0.30);
}

.button-green {
    background: #00ca74;
}
.button-green:hover {
    background: #00bc6c;
}
.button-green:active {
    background: #00aa62;
}

.button-yellow {
    background: #efc849;
}
.button-yellow:hover {
    background: #eab534;
}
.button-yellow:active {
    background: #e5a722;
}

body {   
    margin: 0;
    padding: 0; 
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
}

a {
    text-decoration-line: none;
}

.uppercase {
    text-transform: uppercase; 
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1200px;
}

.relative {
    position: relative;
}

.main-header {
    background-color: #eeeeee;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
}

.main-header-logo {
    padding-top: 50px;
    padding-left: 10px;
    width: 200px;
}
a.main-header-logo {
    opacity: 1.0;
}
a.main-header-logo:hover { 
    opacity: 0.8;
}
a.main-header-logo:active {
    opacity: 0.3;
}

.site-navigation {
    margin: 0;
    padding: 0; 
    width: 800px;
    padding-top: 80px; 
    display: flex;    
    justify-content: center;
    list-style: none;
}
.site-navigation > li  {
    margin: 0px 40px 5px 5px;
}
.site-navigation > li > a, 
.cart > a {
    font-weight: bold; 
    font-size: 16px;
    color: black;
    opacity: 1.0;
}
.site-navigation :hover,
.cart :hover {
    color: #fb565a;
}
.site-navigation :active,
.cart :active {
    color: black;
    opacity: 0.3;
}
.site-navigation .selected {
    position: relative;
}
.site-navigation .selected::after {
    content: "";
    height: 2px;
    width: 100%;
    background: #fb565a;
    position: absolute;
    bottom: 5px;
}

.main-navigation > .cart {
    width: 200px;
    padding-top: 80px;
    text-align: left;
}
.main-navigation > .cart > img {
    margin-left: 55px; 
    margin-right: 20px; 
    opacity: 0.7;
}

.slider {
    position: relative;
}

.slider > .slide  {
    display: flex;
}

.slider > .slide > img {
    width: 760px;
    height: 430px;
    padding-right: 33px; 
    margin-top:-5px;
}

.slider-navigation {
    position: absolute;
    left: 0; 
    right: 0; 
    bottom: 10px;
    width: 100px; 
    margin: 0 auto;
    display: flex;
    justify-content: center;
    list-style: none;
}

.button-slide {
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    margin: 5px;
    border: 1px solid rgba(255, 255, 255, 0);
}
.button-slide:hover,
.button-slide:active,
.button-slide.selected:hover::before  {
    background: white;
}
.button-slide::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
}
.button-slide.selected::before {
    border: 2px solid #c1c1c1;
}
.button-slide:hover::before {
    background-color: #c1c1c1;
    border: 2px solid #c1c1c1;
}
.button-slide:active::before {
   opacity: 0.75;
}
.button-slide:focus {
    outline: 0;
    border: 1px solid rgba(166, 200, 255, 0.0);
}

.slide-second, /*TODO: исправить*/
.slide-third {
    visibility: hidden;
    height: 0;
}

.features > h2 {
    font-size: 55px;
    line-height: 55px;
    margin: 73px 10px 0 10px;
}
.features > p {
    margin: 27px 10px 0 10px;
    line-height: 24px;
}

.button-more {
    width: 240px;
    height: 50px;
    margin: 39px 10px 0 10px;
}

.offer-list {
    margin: 0;
    margin-top: 1px;
    padding: 0 10px;
    height: 500px;
    list-style: none;
    display: flex;
}
.offer-list > li {
    margin: 80px 100px 0 0;
    width: 300px;
}

.offer-list > li > h3 {
    margin: 0;
    margin-top: 24px;
    font-size: 24px;     
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase; 
}

.offer-list > li > p {
    margin: 0;
    margin-top: 20px;
    line-height: 24px;
    /*TODO: буквы шире!*/
}

.offer-list > li > a {
    display: flex;
    margin: 0;
    margin-top: 30px;
    height: 50px;
    width: 160px;
}

.about-us {
    display: flex;
    height: 510px;
}

.about-us-slogan > b {
    margin: 0;
    font-weight: bold; 
    font-size: 45px;
    line-height: 45px;
}

.about-us-left-block {
    width: 780px;
}

.about-us-left-block > p {
    margin: 35px 10px 0 10px;
    line-height: 22px;
}

.about-us-left-block > .about-us-slogan { 
    margin: 65px 10px 0 10px;   
}

.about-us-left-block > .services-header { 
    margin: 42px 10px 0 10px;
    font-weight: 900;
}

.about-us-left-block > .services-list {
    list-style: "-"; /*TODO*/
}
.about-us-left-block > .services-list > li {
    margin: 10px;
    padding: 10px 0;
}

.about-us-right-block {
    width: 380px;
    text-align: center;
    margin-top: 30px;
    margin-left: 20px;
}

.statistic-slogan {
    margin-top: 33px;
    font-weight: 900;
}

.statistic {
    margin: 0;
    margin-top: 45px;
    padding: 0;
    display: flex;
    list-style: none;
}

.statistic > li > p {
    text-align: left;
    margin: 20px 10px 0 10px;
}
.statistic > li > p.percentages {
    margin: 0;
    margin-left: 12px; 
    font-size: 45px;
    line-height: 45px;
    font-weight: 900; 
}
.statistic > li > p.percentages > sup {
    font-size: 28px;
}

.partners {
    height: 173px;
}
.partners-list {
    margin: 0;
    margin-top: -10px; 
    padding: 0 10px;
    padding-right: 28px; 
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.partners-item a  {
    opacity: 0.2;
}
.partners-item a:hover {
    opacity: 1.0; 
}
.partners-item a:active {
    opacity: 1.0; 
}

.main-footer {
    padding: 70px 0;
}

.map {
    background-color: #e9e5dc; 
    background-image: url("../img/map.png");
    background-repeat: no-repeat;
    background-position-x: 50%;
    height: 420px;
    width: 100%;
}
.map-marker {
    position: absolute;
    left: 575px;
    top: 85px;
}

.address-wrapper {
    position: absolute;
    background: #ffffff;
    width: 320px;
    margin: 55px 10px 10px 10px;
    padding-bottom: 55px;
}

.address {
    width: 220px;
    margin: 0 auto;
    margin-top: 50px;
}

.address-header {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 26px;
}

.address > p {
    margin-top: 18px;
    color: #666666
}

.address > p > a {
    color: #666666
}
.address > p > a:hover {
    color: #fb565a
}

.button-write-us {
    margin-top: 36px;
    width: 220px;
    height: 50px;
}

.social {
    padding-top: 65px; 
    display: flex;
}

.social-list {
    margin: 0;
    padding: 0;
    width: 380px;
    display: flex;
    list-style: none;
}

.social-list > li {
    margin-left: 10px;
}

.social-item {
    width: 80px;
    height: 80px;
    display: flex;
    border-radius: 50%;
    background-color: #e1e1e1;
    background-position: 50% 50%;
    background-repeat: no-repeat; 
}
.social-item:hover {
    background-color: #e74246;
}
.social-item:active {
    background-color: #d7373b; 
}
.social-item img {
    margin: auto;
}
.social-item:active img{
    opacity: 0.3;
}

.social-right-block {
    padding-left: 30px;
}

.social-slogan {
    padding-top: 5px;
    font-size: 36px;
    font-weight: 900;
    line-height: 36px;
    letter-spacing: 0.3px;
}

.social-right-block > p {
    margin: 0;
    margin-bottom: 13px;
}

.modal {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    background-color: #eeeeee;
    padding: 48px 80px;
}

.modal-write-us {
    width: 960px;
}
.write-us-50 {
    width: 360px;
}
.write-us-100 {
    width: 100%;
}
.modal-write-us > div > h2 {
    margin: 20px;
    font-size: 45px;
    line-height: 45px;
}
.modal-write-us > form {
    display: flex;
    flex-wrap: wrap;
}
.form-element {
    margin: 20px;
}
.form-element > label {
    display: block;
    font-weight: 900;
    line-height: 18px;
    margin-bottom:  10px;
}
.form-element > input {
    padding: 0 10px;
    width: 360px;
    height: 50px;
}
.form-element-text {
    margin: 8px 20px 0 20px;
}
.form-element > textarea {
    width: 760px;
    height: 115px;
    padding: 10px;
}
.button-send {
    margin: 24px 20px 0 20px;
    width: 260px;
    height: 50px;
}
.button-close {
    margin: 0;
    padding: 5px;
    margin-right: 20px;
    border-color: transparent; 
    background-color: transparent;
    opacity: 0.3;
}
.button-close:hover {
    opacity: 1.0;
}
.button-close:active {
    opacity: 0.1;
}

/* Фильтр с диапазоном цены */
.range-filter {
    padding-top:50px;
    width:260px;
    margin:0;
    margin-bottom:10px;
}
.range-controls{
    position:relative;
    height:80px;
    margin-bottom:15px;
    padding:0 30px;
    background:#eeeeee;
    border-radius:5px;
    overflow:hidden;
}
.scale{
    margin-top:39px;
    height:2px;
    background:#d7dcde;
}

.bar {
    height:2px;
    background:#00ca74;
    margin-left:50px;
    width:100px;
}

.min-toggle, .max-toggle{
    position:absolute;
    top:30px;
    left:30px;
    width:4px;
    height:4px;
    border:8px solid white;
    background:#ababab;
    cursor:pointer;
    border-radius:50%;
}

.toggle.min-toggle {
    left:70px;
}

.toggle.max-toggle {
    left:165px;
}

.price-controls input{
    width: 58px;
    height: 22px;
    padding:8px 10px;
    margin-left:8px;
    border:none;
    background:#eeeeee;
    font-size:16px;
    text-align:center;
    color:#283136;
}

.price-controls input:first-child{
    margin-right:30px;
    margin-left: 10px; 
}

.price-controls {
    font-size: 16px;
    line-height: 22px;
    margin-top: -2px;
}

/*Конец*/



/* catalog */

.main-header > h1 {
    font-size: 55px;
    line-height: 55px;
    padding: 36px 21px 100px 0;
    text-align: center;
}

.main-page-catalog {
    display: flex;
    justify-content: space-between;
    margin-bottom: -25px;
}

/*фильтры*/

.filtration {
    margin-left: 10px;
    width: 260px;
}

.filtration .cost{
    display: block;
    font-size: 18px;
    line-height: 30px;
    margin-top: 25px;
}

.filtration .grid  {
    border: none;
    margin-top: 58px;
}

.filtration .grid {
    margin-left: -15px; 
    font-size: 18px;
    line-height: 23px;
}

.filtration .grid ul {
    margin-left: 1px;
    margin-top: 9px;
    padding: 2px;
    list-style: none;
}

.filtration .grid ul input {
    display:none;
}

.filtration .grid li{
    margin-bottom: 15px;
}

.filtration .grid li label{
    font-size: 16px;
    line-height: 20px;
    opacity: 0.4;
}

.filtration .grid input + label span {
    display:inline-block;
    width:25px;
    height:25px;
    margin:-1px 10px 0 0;
    vertical-align:middle;
    background:url("../img/icon-radio-off.svg") left top no-repeat;
    cursor:pointer;
}

.filtration .grid input:checked + label span {
    background:url("../img/icon-radio-on.svg") left top no-repeat;
}

.filtration input + label:hover {
    opacity: 1;
}

.filtration li label{
    font-size: 16px;
    line-height: 20px;
    opacity: 0.4;
}

.filtration .features  {
    border: none;
    margin-top: 0px;
}

.filtration .features {
    margin-left: -15px; 
    font-size: 18px;
    line-height: 23px;
}

.filtration .features ul {
    margin-left: 1px;
    margin-top: 9px;
    padding: 2px;
    list-style: none;
}

.filtration .features ul input {
    display:none;
}

.filtration .features li{
    margin-bottom: 15px;
}

.filtration .features li label{
    font-size: 16px;
    line-height: 20px;
}

.filtration .features input + label span {
    display:inline-block;
    width:25px;
    height:25px;
    margin:-1px 10px 0 0;
    vertical-align:middle;
    background:url("../img/icon-checkbox-off.svg") left top no-repeat;
    cursor:pointer;
}

.filtration .features input:checked + label span {
    background:url("../img/icon-checkbox-on.svg") left top no-repeat;
}

.filtration legend {
    margin-left: 2px;
}

button.filter-button {
    border: none;
    width: 260px;
    height: 50px;
}

button.filter-button:focus {
    outline: 0;

}

.view-product {
    width: 760px;
    margin-right: 30px;
}

.sorting {
    margin-top: 10px;
    margin-bottom: 55px;
    display: flex;
    width: 760px;
    height: 40px;
}

.sort-button-list{
    margin-left: 214px;
}

.sort-button-list a{
    font-size: 14px;
    line-height: 18px;
    text-decoration-line: none;
    color: inherit;
    opacity: 0.3;
}

.sort-button-list a:hover {
    opacity: 0.6;
}

.sort-button-list a:active, .sort-button-list a.active  {
    opacity: 1;
}

.sort-button-list li {
    margin: 4px 13px 0 14px;
}

.sorting>p {
    font-size: 18px;
    line-height: 18px;
    text-align: center;
}

.sort-buttons {
    display: flex;
}

.sort-button-list{
    display: flex;
    list-style: none;
}

.order-buttons {
    display: flex;
    margin-left: 15px;
    margin-right: 0;
}

.order-buttons p a {
    opacity: 0.3;
    display: block;
    width: 11px;
    height: 10px;
    margin: 8px 0 0 18px;
}

.order-buttons p a:hover {
    opacity: 0.6;
}

.order-buttons p a:active, .order-buttons p a.active  {
    opacity: 1;
}

.order-buttons p:first-of-type a {
    background:  url("../img/icon-cursor-down-dir.svg") no-repeat;
}

.order-buttons p:last-of-type a {
    background:  url("../img/icon-cursor-up-dir.svg") no-repeat;
}


.template-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

/* карточка */
.template-item {
    margin: 0px;
    width: 360px;
    height: 576px;
    margin-bottom: 33px;
    list-style: none;
    position: relative;
    padding-top: 40px;
}

.template-item:nth-child(2n) {
    margin-left: 40px; 
}

.template-box {
    position: absolute;
    top: 40px;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: inset 0 0 0 1px #eeeeee;
}

.template-item::before {
    position: absolute;
    margin-top: -40px; 
    opacity: 0.12;
    content: "";
    width: 360px;
    height: 40px;
    background-image: url("../img/bg-browser.svg");
}

.description-window {
    text-align: center;
    padding: 10px 80px 43px 80px;
    background-color: #eeeeee;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.description-window a h3 {
    color: black;
}

.description-window a h3:hover {
    color: #fb565a;
    text-decoration: underline;
}

.description-window p {
    margin-right: -10px;
    margin-left: -10px;
}

.button-price {
    width: 200px;
    height: 50px;
}

.wrapper-template {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;

}

.wrapper-template::before {
    position: absolute;
    margin-top: 0px; 
    opacity: 1;
    content: "";
    width: 360px;
    height: 40px;
    background-image: url("../img/bg-browser.svg");
}

.wrapper-template:hover {
    opacity: 1;
    box-shadow: 0 6px 15px 1px #0001012d;

}
/*end-block*/

/*пагинатор*/

.pagination-list {
    list-style: none;
    display: flex;
    padding: 0;
}

.button-gray {  
    background: #eeeeee;
    width: 50px;
    height: 50px;
    color: black;
}

.pagination-item {
    margin: 10px 11px 0 0px; 
}

.button-gray:hover {
    background: #dfdfdf;
}

.button-gray:active {
    background: #d5d5d5;
    color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 3px 0px 0px #bfbfbf;
}

.pagination-item-previous a,
.pagination-item-next a{
    width: 260px;
}

.pagination-item.active a {
    box-shadow: inset 0 0 0px 3px #dbdbdb;
    background: white;
}

